body {
  font-size: 16px;
  background-color: #fde1ea !important;
}

.container {
  border: 1px rgb(230, 225, 225) solid;
  border-radius: 1rem;
  padding: 0px !important;
  background-color: #fbf1f4;
}

.audio {
  display: none;
}

.playlist-container {
  background-color: #fff;
  padding: 10px !important;
}

ul {
  list-style: none;
}

.song-title {
  padding: 30px 10px 10px 37px;
}

.nav-buttons {
  display: -webkit-inline-box;
}

.nav-buttons li {
  padding: 15px;
}

.button {
  width: 100px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:focus {
  border: none;
  outline: none;
}

.btn-left,
.btn-right {
  background-color: #fefefe;
  color: black;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;
}

.btn-middle {
  background-color: #c1005c;
  color: white;
  border-radius: 50%;
  padding-bottom: 36px;
  padding-top: 36px;
}

.playlist-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.songs-list ul {
  padding-left: 0rem;
}

.song-card-body {
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
}

.song-card-body:hover {
  box-shadow: #444 0 0 0px;
  border-left: 5px solid #ec117b;
  padding-left: 25px;
  padding-right: 25px;
}

.song-card-body:focus {
  box-shadow: #444 0 0 0px;
  background-color: #dc35450f;
  border-radius: 1rem;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-left: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.song-card-body-focus {
  box-shadow: #444 0 0 0px;
  background-color: #dc35450f;
  border-radius: 1rem;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-left: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #ff4c9f !important;
  border-color: #ff4c9f !important;
}

.form-check-label {
  cursor: pointer;
}

.playlist-container,
.form-check-container {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
}

.form-check-container:hover {
  box-shadow: #444 0 0 0px;
  background-color: #dc35450f;
  border-radius: 1rem;
}
